<!DOCTYPE html>
<html>
<head>
  <title>RunWithMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANEtT0YyTWgXxBkTmXd3hlegItLe394-g"
    type="text/javascript"></script>

<%= flash[:errors].join(", ") if flash[:errors] %>

<%= yield %>

</body>
</html>
